<section class="main">
  <div class="img">
    <div class="info">
      <a href="#top" id="btn-backtotop"><span class="arrow arrow_up"></span></a>
      <div class="info__main">
        <h2 class="info__title">
          Spices up
        </h2>
        <p class="info__text">
          料理に『スパイスを加える』ことを英語で『Spice up』と言う。<br>
          この言葉には他に『趣を添える』と言う意味がある。<br>
          『Spice up your life』とすれば、『日々に彩りを』と言う感じ。<br>
          スパイスには魔法の杖ような魅力があるのだ。<br>
          たった一振りで美味しい生活が待っている。<br>
        </p>
      </div>
      <div class="p-content" id="js-article-detail-content">
        <h3 class="info_sub__title">世界中に存在する、スパイス＆ハーブ</h3>
        <p class="info_sub__text">スパイスの定義は、「植物である」「香りをもっている」「人の暮らしに役立っている」この３つを満たしていること。世界で使われるスパイスの種類は350~500種、ハーブの種類は万を超えるともいわれるなかから、生活に取り入れやすいスパイス＆ハーブ全30種を一挙紹介していこう。</p>
        <p class="info_sub__title">＜スパイス＆ハーブ辞典目次＞</p>
        <blockquote>
          <p><a class="spice_title" href="#spice1">エシャロット／Shallor</a><br>
            <a class="spice_title" href="#spice2">オールスパイス／Allspice</a><br>
            <a class="spice_title" href="#spice3">オレガノ／Oregano</a><br>
            <a class="spice_title" href="#spice4">ガーリック／Garlic</a><br>
            <a class="spice_title" href="#spice5">カルダモン／Cardamom</a><br>
            <a class="spice_title" href="#spice6">クミン／Cumin</a><br>
            <a class="spice_title" href="#spice7">クローブ／Clove</a><br>
            <a class="spice_title" href="#spice8">ホワイトペッパー／White Pepper</a><br>
            <a class="spice_title" href="#spice9">ブラックペッパー ／Black Pepper</a><br>
            <a class="spice_title" href="#spice10">コリアンダー／Coriander</a><br>
            <a class="spice_title" href="#spice11">サフラン／Saffron</a><br>
            <a class="spice_title" href="#spice12">山椒／Japanese pepper</a><br>
            <a class="spice_title" href="#spice13">シナモン／Cinnamon</a><br>
            <a class="spice_title" href="#spice14">ジンジャー ／Ginger</a><br>
            <a class="spice_title" href="#spice15">スターアニス／Star anise</a><br>
            <a class="spice_title" href="#spice16">セロリーシード／Celery seed</a><br>
            <a class="spice_title" href="#spice17">ターメリック／Turmeric</a><br>
            <a class="spice_title" href="#spice18">タイム／Thyme</a><br>
            <a class="spice_title" href="#spice19">チリーペッパー／Chilli pepper</a><br>
            <a class="spice_title" href="#spice20">ナツメッグ／Nurmeg</a><br>
            <a class="spice_title" href="#spice21">バジル／Basil</a><br>
            <a class="spice_title" href="#spice22">パプリカ／Paprika</a><br>
            <a class="spice_title" href="#spice23">フェネグリーク／Fenugreek</a><br>
            <a class="spice_title" href="#spice24">フェンネル／Fennel</a><br>
            <a class="spice_title" href="#spice25">花椒（ホアジャオ)／Chinese pepper</a><br>
            <a class="spice_title" href="#spice26">マスタード／Mustard</a><br>
            <a class="spice_title" href="#spice27">ゆず／Yuzu</a><br>
            <a class="spice_title" href="#spice28">ローレル／Laurel</a><br>
            <a class="spice_title" href="#spice29">ロングペッパー／Long pepper</a><br>
            <a class="spice_title" href="#spice30">わさび／Wasabi</a></p>
        </blockquote>

        <h2 id="spice1"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26873" src="https://harumari.tokyo/wp-content/uploads/2019/10/00135Shallot_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00135Shallot_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00135Shallot_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00135Shallot_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00135Shallot_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00135Shallot_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>エシャロット／Shallot</h2>
        <p>科名：ユリ科<br>
          利用部位：鱗茎<br>
          別名：シャロット<br>
          特徴：玉ねぎの変種。甘い香りと独特の香味が特徴。ソース、ドレッシングなど、フランス料理やイタリア料理でよく用いられる。</p>

        <h2 id="spice2"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26874" src="https://harumari.tokyo/wp-content/uploads/2019/10/00004Allspice_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00004Allspice_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00004Allspice_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00004Allspice_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00004Allspice_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00004Allspice_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>オールスパイス／Allspice</h2>
        <p>科名：フトモモ科<br>
          利用部位：果実<br>
          別名：ジャマイカンペッパー、ピメント、三香子（さんこうし）、百味（ひゃくみ）こしょう<br>
          特徴：シナモン、クローブ、ナツメッグをミックスしたような香り。スペインの探検家フランシスコ・フェルナンデスが1570年代にメキシコで発見したことにより世界に広まった。<br>
          料理：カレー</p>

        <h2 id="spice3"><span style="color: #ffffff;">|</span></h2>
        <h2><img class="aligncenter size-full wp-image-26875" src="https://harumari.tokyo/wp-content/uploads/2019/10/00053Oregano_3.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00053Oregano_3.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00053Oregano_3-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00053Oregano_3-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00053Oregano_3-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00053Oregano_3-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"><br>
          オレガノ／Oregano</h2>
        <p>科名：シソ科<br>
          原産地：地中海沿岸<br>
          利用部位：葉、花穂<br>
          別名：ワイルドマジョラム、花薄荷(はなはっか)、オリガナム<br>
          特設：清涼感のある香り。肉や魚などの臭み消しにも重宝される。ローマ時代の美食家アピシウスが、「おいしいソースには欠かせないスパイス」と言って愛した香り。<br>
          料理:カレー</p>

        <h2 id="spice4"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26876" src="https://harumari.tokyo/wp-content/uploads/2019/10/00006Garlic_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00006Garlic_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00006Garlic_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00006Garlic_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00006Garlic_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00006Garlic_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>ガーリック／Garlic</h2>
        <p>科名：ユリ科<br>
          原産地：中央アジア<br>
          利用部位：鱗茎<br>
          別名：にんにく、おおひる<br>
          特徴：強烈な特有の香りをもつ。古くからすぐれた滋養を誇ると言われ、古代エジプトの巨大ピラミッドの建設に携わった労働者のスタミナ源として大量に使われていた。</p>

        <h2 id="spice5"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26879" src="https://harumari.tokyo/wp-content/uploads/2019/10/00009Cardamom_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00009Cardamom_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00009Cardamom_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00009Cardamom_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00009Cardamom_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00009Cardamom_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>カルダモン／Cardamom</h2>
        <p>科名：ショウガ科<br>
          原産地：インド<br>
          利用部位：果実<br>
          別名：小豆く(しょうずく)<br>
          特徴：甘くエキゾチックで、わずかに刺激性のある強い香り。「スパイスの女王」と呼ばれいる。北欧などでは、アルコール臭を消すためにカルダモンを噛む風習もある。</p>

        <h2 id="spice6"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26884 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00012Cumin_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00012Cumin_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00012Cumin_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00012Cumin_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00012Cumin_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00012Cumin_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>クミン／Cumin</h2>
        <p>科名：セリ科<br>
          原産地：エジプト<br>
          利用部位：種子（植物学上は果実にあたる）<br>
          別名：馬芹(うまぜり)、ジーラ<br>
          特徴：カレーを思わせる、エスニックな芳香。長さ約５～６mmほどの長楕円形。世界各地で肉や野菜料理、煮物、 炒め物、パン、チーズ、カレーなどに広く用いられている。</p>

        <h2 id="spice7"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26886 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00013Clove_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00013Clove_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00013Clove_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00013Clove_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00013Clove_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00013Clove_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>クローブ／Clove</h2>
        <p>科名：フトモモ科<br>
          原産地：モルッカ諸島（インドネシア）<br>
          利用部位：つぼみ<br>
          別名：丁字(ちょうじ)、丁香(ちょうこう)、 百里香(ひゃくりこう)<br>
          特徴：甘く濃厚な香りと刺激的な風味をもつ。つぼみが開花する直前に摘みとり、日陰に干して乾燥させ、スパイスとして利用。肉との相性がよく、カレー、ポトフなどによく使われる。</p>

        <h2 id="spice8"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26889 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00017Whitepepper_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00017Whitepepper_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00017Whitepepper_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00017Whitepepper_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00017Whitepepper_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00017Whitepepper_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>ホワイトペッパー／White Pepper</h2>
        <p>科名：コショウ科<br>
          原産地：インド<br>
          利用部位：果実<br>
          別名：白胡椒<br>
          特徴：マイルドな香りとピリッとした強い辛みが特徴。こしょうの熟果を摘みとり、水に浸漬して果皮をやわらかくし、その果皮を除去して核の部分だけを乾燥させたもの。</p>

        <h2 id="spice9"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26891 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00016Blackpepper_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00016Blackpepper_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00016Blackpepper_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00016Blackpepper_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00016Blackpepper_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00016Blackpepper_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>ブラックペッパー ／Black Pepper</h2>
        <p>科名：コショウ科<br>
          原産地：インド<br>
          利用部位：果実<br>
          別名：黒胡椒<br>
          特徴：野性的で爽やかな香りと、ピリッとした強い辛みが特徴。熟す前のこしょうの果実を摘みとり、天日乾燥させたもの。</p>

        <h2 id="spice10"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26892 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00022Corianderseed_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00022Corianderseed_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00022Corianderseed_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00022Corianderseed_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00022Corianderseed_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00022Corianderseed_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>コリアンダー／Coriander</h2>
        <p>科名：セリ科<br>
          原産地：地中海沿岸<br>
          利用部位：種子（植物学上は果実にあたる）<br>
          別名：コエンドロ、シラントロ ※葉のみをさして、香菜(シャンツァイ)、パクチー、カメムシソウ<br>
          特徴：種子は甘く爽やかでほのかにスパイシーな香り。葉、茎、根は強烈な臭気。数千年前の古代エジプト時代から、薬用や調味料として人類が用いてきた最古のスパイスのひとつ。</p>
        <p>★コリアンダーをつかったレシピ記事はこちら</p>
        <p><a href="https://harumari.tokyo/26162/">使い道はカレー以外にも！ 余ったスパイスの活用術</a></p>
        <p>&nbsp;</p>

        <h2 id="spice11"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26893 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00024Saffron_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00024Saffron_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00024Saffron_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00024Saffron_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00024Saffron_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00024Saffron_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>サフラン／Saffron</h2>
        <p>科名：アヤメ科<br>
          原産地：南ヨーロッパ、西アジア<br>
          利用部位：雌しべ<br>
          別名：蕃紅花(ばんこうか)<br>
          特徴：エキゾチックな芳香をもち、料理の黄色の色づけに使われる。１つの花から３本しかとれない雌しべの部分を１本１本を手で摘みとるため、世界一高価なスパイスと言われる。</p>

        <h2 id="spice12"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26895 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00025Japanesepepper_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00025Japanesepepper_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00025Japanesepepper_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00025Japanesepepper_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00025Japanesepepper_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00025Japanesepepper_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>山椒／Japanese pepper</h2>
        <p>科名：ミカン科<br>
          原産地：東アジア<br>
          利用部位：果皮、果実、葉<br>
          別名：はじかみ、ジャパニーズペッパー<br>
          特徴：刺激的な辛みをもつ。「魏志倭人伝」に３世紀頃の日本の風俗とともに、山椒が山野に自生していたことが記載されている。日本では最も古くから馴染み深いスパイスの一つ。</p>

        <h2 id="spice13"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26897 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00026Cinnamon_3.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00026Cinnamon_3.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00026Cinnamon_3-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00026Cinnamon_3-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00026Cinnamon_3-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00026Cinnamon_3-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>シナモン／Cinnamon</h2>
        <p>科名：クスノキ科<br>
          原産地：ベトナム（一説）<br>
          利用部位：樹皮<br>
          別名：肉桂(にっけい)、桂皮(けいひ)、カシア<br>
          特徴：甘くエキゾチックな香り。幹や枝の皮をはぎ取り乾燥したもの。古代エジプトでは防腐作用があると考えられ、ミイラ作りにシナモンが使われていたというエピソードも。</p>

        <h2 id="spice14"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26899 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00028Ginger_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00028Ginger_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00028Ginger_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00028Ginger_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00028Ginger_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00028Ginger_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>ジンジャー ／Ginger</h2>
        <p>科名：ショウガ科<br>
          原産地：熱帯アジア<br>
          利用部位：根茎<br>
          別名：生姜、生薑（しょうきょう）、はじかみ、乾薑（かんきょう）<br>
          特徴：爽やかな香りと辛みをもつ。生のものをスライスしたり、すりおろしたり、乾燥させてパウダー状するなど、用途が幅広い万能なスパイス。カレー粉の原料にも使われている。</p>

        <h2 id="spice15"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26900 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00029Staranise_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00029Staranise_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00029Staranise_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00029Staranise_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00029Staranise_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00029Staranise_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>スターアニス／Star anise</h2>
        <p>科名：マツブサ科<br>
          原産地：中国<br>
          利用部位：果実<br>
          別名：八角（はっかく）、大茴香（だいういきょう）、チャイニーズアニス<br>
          特徴：香りの主成分アネトールにより、独特の強くて甘い香りがする。漢方では胃弱や風邪薬に、甘い香りを活かしてデザートの香りづけなどにも使われる。</p>

        <h2 id="spice16"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26903 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00030Celeryseed_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00030Celeryseed_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00030Celeryseed_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00030Celeryseed_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00030Celeryseed_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00030Celeryseed_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>セロリーシード／Celery seed</h2>
        <p>科名：セリ科<br>
          原産地：南ヨーロッパ<br>
          利用部位：種子、葉茎<br>
          別名：阿蘭陀みつば（おらんだみつば）<br>
          特徴：独特の強く爽やかな香り。青臭さやほろ苦さも感じられる。野菜を使うスープやサラダ、ピクルスなどに使うと、素材の青臭みを抑え、深みのある香りが加わる。</p>

        <h2 id="spice17"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26905 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00031Turmeric_3.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00031Turmeric_3.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00031Turmeric_3-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00031Turmeric_3-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00031Turmeric_3-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00031Turmeric_3-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>ターメリック／Turmeric</h2>
        <p>科名：ショウガ科<br>
          原産地：熱帯アジア<br>
          利用部位：根茎<br>
          別名：ウコン、クルクマ<br>
          特徴：黄色い色素成分のクルクミンが含まれ、黄色の色づけに活躍。独特のやや土臭いような香りは、加熱することで弱まり、料理の味に厚みを与える。カレー粉の原料としても。</p>

        <h2 id="spice18"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26906 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00065Thyme_3.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00065Thyme_3.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00065Thyme_3-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00065Thyme_3-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00065Thyme_3-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00065Thyme_3-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>タイム／Thyme</h2>
        <p>科名：シソ科<br>
          原産地：南ヨーロッパ<br>
          利用部位：葉、花穂<br>
          別名：立麝香草（たちじゃこうそう）<br>
          特徴：独特の清々しい芳香があるハーブ。魚や肉、トマトなどと相性がよく、とくに魚との相性の良さから「魚のハーブ」と呼ばれることもある。</p>

        <h2 id="spice19"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26910 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00036Chillipepper_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00036Chillipepper_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00036Chillipepper_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00036Chillipepper_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00036Chillipepper_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00036Chillipepper_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>チリーペッパー／Chilli pepper</h2>
        <p>科名：ナス科<br>
          原産地：熱帯アメリカ<br>
          利用部位：果実、葉<br>
          別名：レッドペッパー、唐辛子<br>
          特徴：世界中の様々な料理の辛みづけに広く用いられる。その数は３千近い品種に及ぶといわれる。１５世紀末のコロンブスのアメリカ大陸到達によって世界中に広まったそう。</p>
        <p>&nbsp;</p>
        <p>★チリペッパーをつかったレシピ記事はこちら</p>
        <p><a href="https://harumari.tokyo/26062/">カレーを作るなら、たった３つのスパイスを覚えておけばいい。</a></p>


        <h2 id="spice20"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26913 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00037Nutmeg_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00037Nutmeg_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00037Nutmeg_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00037Nutmeg_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00037Nutmeg_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00037Nutmeg_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>ナツメッグ／Nutmeg</h2>
        <p>科名：ニクズク科<br>
          原産地：モルッカ諸島（バンダ諸島）<br>
          利用部位：種子の仁<br>
          別名：にくずく（肉豆く）、にくずく花（肉豆く花）<br>
          特徴：甘くスパイシーで刺激のある香り。一ポンド（約454ｇ）で13世紀末のイギリスでは羊3頭、14世紀末のドイツでは７頭の牝牛と交換できたほど、高価だった。</p>

        <h2 id="spice21"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26914 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00072Basil_2-1.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00072Basil_2-1.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00072Basil_2-1-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00072Basil_2-1-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00072Basil_2-1-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00072Basil_2-1-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;">バジル／Basil</p>
        <h2>バジル／Basil</h2>
        <p>科名：シソ科<br>
          原産地：インド<br>
          利用部位：葉、花穂<br>
          別名：めぼうき、バジリコ<br>
          特徴：甘く爽やかで深みのある香り。ヨーロッパでは豊穣を象徴するもの、インドでは神聖な植物として扱われている。トマト料理をはじめ、卵料理、肉料理、パスタなどに広く使われる。</p>

        <h2 id="spice22"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26917 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00039Paprika_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00039Paprika_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00039Paprika_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00039Paprika_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00039Paprika_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00039Paprika_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>パプリカ／Paprika</h2>
        <p>科名：ナス科<br>
          原産地：熱帯アメリカ<br>
          利用部位：果実<br>
          別名：ハンガリアンペッパー、スパニッシュペッパー、ピメント<br>
          特徴：鮮やかな赤色と甘さのある特有の香り。ビタミンCが多く含まれている。ポテトサラダやタコのマリネなど、色の淡い料理の仕上げに振ると華やかに。</p>

        <h2 id="spice23"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26919 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00040Fenugreekseed_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00040Fenugreekseed_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00040Fenugreekseed_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00040Fenugreekseed_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00040Fenugreekseed_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00040Fenugreekseed_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>フェネグリーク／Fenugreek</h2>
        <p>科名：マメ科<br>
          原産地：東南ヨーロッパおよび西アジア<br>
          利用部位：種子<br>
          別名：胡盧巴（ころは）、メッチ<br>
          特徴：黄色く硬い種子は甘い香りと強い苦みをもつ。カレーやチャツネ、中近東地域ではディップソースの材料に利用される。火を通すとメープルシロップのような甘い風味が出る。</p>

        <h2 id="spice24"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26920 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00075Fennel_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00075Fennel_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00075Fennel_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00075Fennel_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00075Fennel_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00075Fennel_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>フェンネル／Fennel</h2>
        <p>科名：セリ科<br>
          原産地：地中海沿岸<br>
          利用部位：葉、株元、種子<br>
          別名：茴香（ういきょう）、小茴香（しょうういきょう）、フヌイユ、フィノッキオ<br>
          特徴：種子、葉ともに、アニスに似た個性的な甘い香りをもつ。広く魚料理に使われることから、タイム同様「魚のハーブ」と呼ばれることも。カレー粉の原料でもある。</p>

        <h2 id="spice25"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26923 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00153Chinesepepper_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00153Chinesepepper_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00153Chinesepepper_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00153Chinesepepper_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00153Chinesepepper_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00153Chinesepepper_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>花椒（ホアジャオ)／Chinese pepper</h2>
        <p>科名：ミカン科<br>
          原産地：中国<br>
          利用部位：果皮<br>
          別名：チャイニーズペッパー、中国山椒、セシュアンペッパー、カショウ<br>
          特徴：爽やかな香りと、舌がしびれるような刺激的な辛みが特徴。中国四川料理に欠かせないスパイス。花椒を使った代表的な料理は、麻婆豆腐が知られる。</p>

        <h2 id="spice26"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26926 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00043Mustard_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00043Mustard_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00043Mustard_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00043Mustard_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00043Mustard_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00043Mustard_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>マスタード／Mustard</h2>
        <p>科名：アブラナ科<br>
          原産地：地中海沿岸、インド、中国、ヨーロッパ、中近東<br>
          利用部位：種子、葉<br>
          別名：からし<br>
          特徴：独特の豊かな風味と辛みをもつ。パウダータイプは使用直前に、水またはぬるま湯で練ってペースト状にして使われることが多い。<br>
          日本ではチューブなどに入ったペーストタイプがよく利用される。</p>

        <h2 id="spice27"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26928 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00154Yuzu_3.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00154Yuzu_3.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00154Yuzu_3-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00154Yuzu_3-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00154Yuzu_3-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00154Yuzu_3-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>ゆず／Yuzu</h2>
        <p>科名：ミカン科<br>
          原産地：中国<br>
          利用部位：果実<br>
          別名：ホンユズ<br>
          特徴：酸味のある果汁とおなじみのさわやかな香りを持つ果皮が特徴。飛鳥または奈良時代の頃に中国から日本に伝わったとされる。柚子こしょうには、若く青い果実が使われることが多い。</p>

        <h2 id="spice28"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26932 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00093Rosemary_3.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00093Rosemary_3.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00093Rosemary_3-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00093Rosemary_3-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00093Rosemary_3-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00093Rosemary_3-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>ローズマリー／Rosemary</h2>
        <p>科名：シソ科<br>
          原産地：地中海沿岸<br>
          利用部位：葉、花穂<br>
          別名：まんねんろう、迷迭香（めいてつこう）<br>
          特徴：スキッとした強い香り。紀元前４-５世紀頃の古代ギリシャでは、記憶や思い出の象徴とされていた。羊肉、豚肉、青魚などクセの強い素材の臭み消しとしても有効。</p>

        <h2 id="spice29"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26933 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00050Laurel_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00050Laurel_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00050Laurel_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00050Laurel_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00050Laurel_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00050Laurel_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>ローレル／Laurel</h2>
        <p>科名：クスノキ科<br>
          原産地：西アジアおよびヨーロッパ南部<br>
          利用部位：葉<br>
          別名：ベイリーブス、ローリエ、月桂樹の葉、月桂葉（げっけいじゅ）<br>
          特徴：上品で清々しい香り。ホールタイプは香りづけや臭み消しに欠かせない。煮込み料理に使う場合、入れたままだと苦みが出るため、1時間程度で取り出すと良い。</p>

        <h2 id="spice30"><span style="color: #ffffff;">|</span></h2>
        <p><img class="aligncenter size-full wp-image-26935 is-hide" src="https://harumari.tokyo/wp-content/uploads/2019/10/00051Wasabi_2.jpg" alt="" width="1080" height="720" srcset="https://harumari.tokyo/wp-content/uploads/2019/10/00051Wasabi_2.jpg 1080w, https://harumari.tokyo/wp-content/uploads/2019/10/00051Wasabi_2-150x100.jpg 150w, https://harumari.tokyo/wp-content/uploads/2019/10/00051Wasabi_2-300x200.jpg 300w, https://harumari.tokyo/wp-content/uploads/2019/10/00051Wasabi_2-768x512.jpg 768w, https://harumari.tokyo/wp-content/uploads/2019/10/00051Wasabi_2-1024x683.jpg 1024w" sizes="(max-width: 1080px) 100vw, 1080px" style="width: 759px;"></p>
        <h2>わさび／Wasabi</h2>
        <p>科名：アブラナ科<br>
          原産地：東アジア<br>
          利用部位：根茎<br>
          別名：日本わさび、本わさび<br>
          特徴：鼻にツーンと抜ける辛みをもつ。細かくおろすとより辛みが引き出される。辛みの主成分アリル辛子油は、揮発性のため、加熱により辛みが飛びやすいという性質がある。</p>
        <p>&nbsp;</>
      </div>
    </div>
  </div>
</section>