<section class="main">
  <div class="info">
    <div class="info_text">
      <h1 class="title">
        spices
      </h1>
      <p>
        料理に『スパイスを加える』ことを英語で『Spice up』と言う。</br>
        この言葉には他に『趣を添える』と言う意味がある。</br>
        『Spice up your life』とすれば、『日々に彩りを』と言う感じ。</br>
        スパイスには魔法の杖ような魅力があるのだ。</br>
        たった一振りで美味しい生活が待っている。</br>
      </p>
    </div>
    <div class="info_spices">
      <h1>
        spices紹介
      </h1>
      <ul class="indexList01 clearfix">
      <li class="first">
        <a href="garlic/index.html">
        <img src="images/index garlic.jpg">
        <span>肉や魚の臭み消す力が強く、あらゆる料理におすすめ！</span>
      </li>
    </ul>
  </div>
</section>
