<section class="info">
  <div class="main">
    <div class="info-text">
      <h1 class="title">
        spices
      </h1>
      <p>
        料理に『スパイスを加える』ことを英語で『Spice up』と言う。</br>
        この言葉には他に『趣を添える』と言う意味がある。</br>
        『Spice up your life』とすれば、『日々に彩りを』と言う感じ。</br>
        スパイスには魔法の杖ような魅力があるのだ。</br>
        たった一振りで美味しい生活が待っている。</br>
      </p>
    </div>
  </div>
</section>
