// Place all the styles related to the intro controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.main {
  background-image: url(home2.jpg);
  height: 1000px;
  background-size: cover;  
}

.info {
  float: right;
  width: 900px;
  
  &_text {
    padding: 100px 0;
  }
}

.indexList01 {
  position: relative;
  display: block;
  background-image: url(pin.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain; 
  width: 300px;
  height: 287px;
  line-height: 1.4;
}

.first {
  background-image: url(garlic.jpg);
  background-size: contain; 
  background-repeat: no-repeat;
  width: 212px;
  height: 287px;
  line-height: 1.4;
}

.indexList01 li span {
    display: block;
    position: absolute;
    top: 150px;
    left: 10px;
    width: 200px;
    font-size: 15px;
    font-size: 1.00rem;
}
