// Place all the styles related to the intro controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.info {
  background-image: url(home2.jpg);
  height: 1000px;
  background-size: cover;  
}

.info-text {
  padding: 100px 0 0 700px;
}